@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

/* NAVBAR */

/* CONTAINER LOGO DAN TEKS  */
.sia-jte a {
    font-weight: bold;
    font-size: 20px;
    font-family: "Viga", sans-serif;
}

.sia-jte a {
    text-align: center;
}

.sia-jte a img {
    margin-left: 0px;
}

.dropdown-item {
    color: #192f59;
}

.dropdown-item:hover {
    color: #0c8a4f;
}

/* CONTAINER LOGO DAN TEKS  */


nav {
    background-color: white;
}

.atas ul li a {
    font-size: 14px;
    font-weight: bold;
    color: #192f59;
    position: relative;
    transition: 0.5s;
    padding-left: 30px;
    padding-right: 15px;
}

.atas ul li a:hover {
    color: #36c482;
}

.bayangan {
    box-shadow: 0px 0px 10px 1px #afafaf;
}
/* NAVBAR */

/* SUB NAVBAR */
.breadcrumb li a {
    color: #192f59;
}

.breadcrumb li a:hover {
    color: #36c482;
}

.biru span {
    color: #035aa6;
}
/* SUB NAVBAR */

@media screen and (max-width: 768px) {

    .navbar-collapse {
        padding-left: 25px;
        padding-right: 25px;
    }

    .dropdown-menu {
        background: radial-gradient(circle at top left, #ffffff, #e5e5e5);
    }

    .navbar-nav li a {
        text-align: center;
    }

    .navbar-nav li button {
        text-align: center;
    }

    
}

/* CONTAINER CONTENT */
.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    margin-top: 55px;
}
/* CONTAINER CONTENT */




.btn {
    width: auto;
}

span {
    font-weight: bold;
}



.biru {
    margin-top: -10px;
}


/* FOOTER */
.footer {
    padding: 10px 0 10px 0;
}

.developer {
    font-family: "Open Sans", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* FOOTER */

@media (max-width: 544px) {
    .nav-link {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
}






